body{
    background-color:#3F3C47;
    box-sizing: border-box;
}

p,label {color:#dedede; 
        margin: 10px; 
        font-family: 'PT Sans', sans-serif;}

h3{color:#dedede;margin-bottom: 0;font-family: 'PT Sans', sans-serif;}

hr{margin:0;padding:0;}



header, footer{
   background-color:#080808;
}

img{
    height: 25px;
    width: 25px;
    margin-bottom: 5px;
}
.container{
    align-items: center; 
    display:flex;
    justify-content: space-between;
    align-content: center;
    
}

.miez{ 
    margin-top:100px;
    margin-bottom:100px;
    display:flex;
    justify-content: center;
    height:800px;
    background: url(Icons/eggplant.png);
    background-attachment: fixed;
 
}

nav ul li{
    list-style: none;
}
nav ul li a{
    color:#dedede;
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 20px;
}
nav ul li a:hover{
    text-decoration: underline;
    color:darkcyan;
}

article{
    width:50%;
    height:50%;
    background-color: #202021;
    margin-top:40px;
  box-shadow: 0px 0px 8px #000;
    
}


article.container {
    flex-direction: column;
    justify-content: space-between;
    
}

article div{ 
    margin:10px;
    
}

footer{
    bottom:0;
}

footer div{
    flex:1;
}



footer div:last-child{
    align-items: center;
    display:flex;
    justify-content: center;
}

